@model IndexViewShopModel
@{
    ViewData["Title"] = "Shop";
}

@section Stylesheet{
}

@section Scripts{
    <script>
        function BrandAjax(idbrand) {
            var Type = "@Model.Type";
            var Brand = "@Model.Brand";
            var SearchString = "@Model.SearchString";
            var pageIndex = "@Model.ListSP.PageIndex";
            
            if (document.getElementById(idbrand).checked) {
                Brand += idbrand + "-";
            }
            else {
                Brand = Brand.replace(idbrand + "-", "");
            }

            var url = lay_URL_truoc_dau_hoi();
            if(Type != ""){
                url += "?Type=" + Type;
                if(Brand != ""){
                    url +=  "&Brand=" + Brand + "&price=" + price + "&pageIndex=" + pageIndex;
                }
                else{
                    url += "&price=" + price + "&pageIndex=" + pageIndex;
                }
            }
            else{
                if(Brand != ""){
                    url +=  "?Brand=" + Brand + "&price=" + price + "&pageIndex=" + pageIndex;
                }
                else{
                    url +=  "?price=" + price + "&pageIndex=" + pageIndex;
                }
            }
            
            location.href = url; 
        }

        function loadprice(){
            var pricefrom = document.getElementById("minamount").value;
            var priceto = document.getElementById("maxamount").value;
            var Type = "@Model.Type";
            var Brand = "@Model.Brand";
            var SearchString = "@Model.SearchString";
            var pageIndex = "@Model.ListSP.PageIndex";
            var price = pricefrom + "-" + priceto;
            var url = lay_URL_truoc_dau_hoi();
            if(Type != ""){
                url += "?Type=" + Type;
                if(Brand != ""){
                    url +=  "&Brand=" + Brand + "&price=" + price + "&pageIndex=" + pageIndex;
                }
                else{
                    url += "&price=" + price + "&pageIndex=" + pageIndex;
                }
            }
            else{
                if(Brand != ""){
                    url +=  "?Brand=" + Brand + "&price=" + price + "&pageIndex=" + pageIndex;
                }
                else{
                    url +=  "?price=" + price + "&pageIndex=" + pageIndex;
                }
            }

            location.href = url; 
        }

        function lay_URL_truoc_dau_hoi(){
            var url = location.href;
            var dauHoi = url.split("?");
            if(dauHoi[0]){
                return dauHoi[0];
            }
            
            return "";
        }

        function loadCheckThuongHieu(){
            var Brand = "@Model.Brand";
            if(Brand == ""){
                return;
            }
            Brand = Brand.split("-");
            for(let i = 0; i < Brand.length; ++i){
                document.getElementById(Brand[i]).checked = true;
            }
        }

        function loadPrice(){
            var price = "@Model.price";
            if(price == ""){
                return;
            }
            price = price.split("-");
            document.getElementById("minamount").value = price[0];
            document.getElementById("maxamount").value = price[1];
        }

        loadCheckThuongHieu();
    </script>
}

<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Danh mục</h4>
                        <ul class="filter-catagories">
                            @{
                                foreach (var q in Model.ListLSP)
                                {
                                    <li><a href="/Shop/Index/?Type=@q.product_type_id">@q.name</a></li>
                                }
                                @*if (ViewBag.Danhmuc != null)
                                {
                                    foreach (var q in ViewBag.Danhmuc)
                                    {
                                        <li><a href="/Shop/Index/?Type=@q.product_type_id">@q.name</a></li>
                                    }
                                }*@
                            }
                        </ul>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Thương hiệu</h4>
                        <div class="fw-brand-check scrollpane">
                            @{
                                foreach (var q in Model.ListTH)
                                {
                                    <div class="bc-item">
                                        <label for=@q.brand_id>
                                            @q.name 
                                            <input type="checkbox" id=@q.brand_id onclick="BrandAjax(@q.brand_id)">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                }
                                @*if (ViewBag.Thuonghieu != null)
                                {
                                    foreach (var q in ViewBag.Thuonghieu)
                                    {
                                        <div class="bc-item">
                                            <label for=@q.brand_id>
                                                @q.name
                                                <input type="checkbox" id=@q.brand_id>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    }
                                }*@
                            }
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Giá</h4>
                        <div class="filter-range-wrap">
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount" disabled>
                                    <input type="text" id="maxamount" disabled>
                                </div>
                            </div>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="0" data-max="@Model.pricemax">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            @* <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="98">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div> *@
                        </div>
                        <a class="filter-btn" onclick="loadprice()">Lọc</a>
                    </div>
                    
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                @* <p>Show 01- 09 Of 36 Product</p> *@
                                @{
                                    if(!string.IsNullOrEmpty(Model.NameType)){
                                        <p style="font-weight: bold;">Loại sản phẩm: @Model.NameType</p>
                                    }
                                    else{
                                        if(!string.IsNullOrEmpty(Model.SearchString)){
                                            <p style="font-weight: bold;">Kết quả tìm kiếm: @Model.SearchString</p>
                                        }
                                        else{
                                            <p style="font-weight: bold;">Kết quả tìm kiếm: Tất cả</p>
                                        }
                                    }
                                }
                            </div>
                            <div class="col-lg-4 col-md-4 text-right">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        @* @{
                            if(!string.IsNullOrEmpty(Model.NameType)){
                                <div class="row" style="margin-left: 5%; font-weight: bold;">Loại sản phẩm: @Model.NameType</div>
                            }
                            else{
                                if(!string.IsNullOrEmpty(Model.SearchString)){
                                    <div class="row" style="margin-left: 5%; font-weight: bold;">Kết quả tìm kiếm: @Model.SearchString</div>
                                }
                                else{
                                    <div class="row" style="margin-left: 5%; font-weight: bold;">Kết quả tìm kiếm: Tất cả</div>
                                }
                            }
                        } *@
                    </div>
                    <div class="product-list">
                        <div class="row">
                            @{
                                foreach(var sp in Model.ListSP){
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="pi-pic">
                                                <img src="@Url.Content(@sp.img)" alt="">
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="/Product/Index/@sp.product_id">Xem chi tiết</a></li>
                                                </ul>
                                            </div>
                                            <div class="pi-text">
                                                @{
                                                    foreach(var k in Model.ListTH){
                                                        if(sp.brand_id == k.brand_id){
                                                            <div class="catagory-name">@k.name</div>
                                                            break;
                                                        }
                                                    }
                                                }
                                                
                                                <a href="/Product/Index/@sp.product_id">
                                                    <h5>@sp.name</h5>
                                                </a>
                                                <div class="product-price">
                                                    @(String.Format("{0:n0}", (int)sp.price)) đ
                                                    @* @((int)sp.price) đ *@
                                                    @* @(sp.price.ToString("C3", CultureInfo.CreateSpecificCulture("da-DK"))) đ *@
                                                    @* <span>$35.00</span> *@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @* <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-1.jpg" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Towel</div>
                                        <a href="#">
                                            <h5>Pure Pineapple</h5>
                                        </a>
                                        <div class="product-price">
                                            $14.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-2.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Coat</div>
                                        <a href="#">
                                            <h5>Guangzhou sweater</h5>
                                        </a>
                                        <div class="product-price">
                                            $13.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-3.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Shoes</div>
                                        <a href="#">
                                            <h5>Guangzhou sweater</h5>
                                        </a>
                                        <div class="product-price">
                                            $34.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-4.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Coat</div>
                                        <a href="#">
                                            <h5>Microfiber Wool Scarf</h5>
                                        </a>
                                        <div class="product-price">
                                            $64.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-5.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Shoes</div>
                                        <a href="#">
                                            <h5>Men's Painted Hat</h5>
                                        </a>
                                        <div class="product-price">
                                            $44.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-6.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Shoes</div>
                                        <a href="#">
                                            <h5>Converse Shoes</h5>
                                        </a>
                                        <div class="product-price">
                                            $34.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-7.jpg" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Towel</div>
                                        <a href="#">
                                            <h5>Pure Pineapple</h5>
                                        </a>
                                        <div class="product-price">
                                            $64.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-8.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Coat</div>
                                        <a href="#">
                                            <h5>2 Layer Windbreaker</h5>
                                        </a>
                                        <div class="product-price">
                                            $44.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/products/product-9.jpg" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Shoes</div>
                                        <a href="#">
                                            <h5>Converse Shoes</h5>
                                        </a>
                                        <div class="product-price">
                                            $34.00
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Loading More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->