@model Application.DTOs.UserDtos.EditPassDto;
@{
    ViewData["Title"] = "Edit - User";
}

@section Stylesheet{
    <style>
        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
}

@section Scripts{
    <script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
    <script>
        Message_EditPass();
        function Message_EditPass(){
            @if(ViewBag.EditPassMessage != null){
                <text>
                $(document).ready(function() {
                    alert("Sửa mật khẩu thành công!");
                });
                </text>
            }
        }
    </script>
}

<div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Sửa mật khẩu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">THÔNG TIN CÁ NHÂN</h4>
                        <ul class="filter-catagories">
                            <li><a asp-controller="User" asp-action="Detail">Xem thông tin cá nhân</a></li>
                            <li><a asp-controller="User" asp-action="Edit">Sửa thông tin cá nhân</a></li>
                            <li><a asp-controller="User" asp-action="EditPass" style="color: #e7ab3c;">Sửa mật khẩu</a></li>
                            <li><a asp-controller="User" asp-action="MyOrder">Đơn hàng của tôi</a></li>
                            <li><a asp-controller="User" asp-action="LogOut">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row" style="font-weight: bold; font-size: 20px;">
                            Sửa mật khẩu
                        </div>
                    </div>
                    <div class="container">
                        <form action="/User/EditPass" method="post">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr style="display: none;">
                                        <td>Mã khách hàng</td>
                                        <td><input asp-for="@Model.user" class="thien-edit-input" readonly></td>
                                        <td><span asp-validation-for="@Model.user"></span></td>
                                        @*<td>@Model.full_name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Mật khẩu cũ</td>
                                        <td><input asp-for="@Model.oldpass" class="thien-edit-input" type="password" placeholder="Nhập mật khẩu cũ"></td>
                                        <td><span asp-validation-for="@Model.oldpass"></span></td>
                                        @*<td>@Model.full_name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Mật khẩu mới</td>
                                        <td><input asp-for="@Model.pass" class="thien-edit-input" type="password" placeholder="Nhập mật khẩu mới"></td>
                                        <td><span asp-validation-for="@Model.pass"></span></td>
                                        @*<td>@Model.full_name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Nhập lại mật khẩu mới</td>
                                        <td><input asp-for="@Model.repass" class="thien-edit-input" type="password" placeholder="Nhập lại mật khẩu mới"></td>
                                        <td><span asp-validation-for="@Model.repass"></span></td>
                                        @*<td>@Model.full_name</td>*@
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="site-btn login-btn">Sửa thông tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>